* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif; }

/* Body */
* {
  margin: 0;
  box-sizing: border-box; }

.container {
  font-family: "Encode Sans Condensed", sans-serif;
  color: black;
  display: grid;
  height: 100%;
  margin: 0 auto;
  width: 95%;
  display: grid; }
  .container.hero-color {
    background: #b6b6b8;
    background: linear-gradient(180deg, #89898b 0%, #c9c9c9 56%, white 97%); }
    .container.hero-color.dark {
      color: #f8f8f8;
      background: #01000e;
      background: linear-gradient(180deg, #01000e 0%, #02024b 56%, #002681 97%); }

footer {
  min-height: 30px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  footer .footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: center; }
    footer .footer-nav ul li {
      text-decoration: none;
      margin-left: 10px;
      margin-right: 10px; }
      footer .footer-nav ul li a .footer-redes-sociales-container {
        width: 40px;
        height: 40px;
        background-color: rgba(200, 194, 255, 0.849);
        margin: 15px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s; }
        footer .footer-nav ul li a .footer-redes-sociales-container:hover img {
          width: 20px;
          height: auto;
          -webkit-transform: scale(2);
          transform: scale(1.8);
          transition: 1.75s; }
        footer .footer-nav ul li a .footer-redes-sociales-container .footer-nav-img {
          height: 30px; }
        footer .footer-nav ul li a .footer-redes-sociales-container.twitter:hover {
          background-color: #aedeff; }
        footer .footer-nav ul li a .footer-redes-sociales-container.instagram:hover {
          background-color: #ffd9ae; }
        footer .footer-nav ul li a .footer-redes-sociales-container.linkedin:hover {
          background-color: #73c3ff; }

header {
  height: 7vh; }
  header .carrito {
    height: 10vh; }
  header .nav {
    max-width: 95%;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, max-content); }
    header .nav .nav-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      color: #f8f8f8; }
      header .nav .nav-logo h2 {
        font-size: 1.5rem;
        z-index: 1; }
      header .nav .nav-logo img {
        height: 50px;
        width: 50px;
        z-index: 1; }
    header .nav .nav-links {
      background-color: unset;
      position: unset;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0;
      display: grid;
      align-content: center;
      align-items: center;
      gap: 1.5em;
      transform: unset;
      grid-auto-flow: column;
      transform: unset;
      grid-column: -2/-1;
      grid-row: 1/2; }
      header .nav .nav-links .nav-item {
        list-style: none; }
        header .nav .nav-links .nav-item .nav-link {
          color: black;
          text-decoration: none;
          font-size: 1.2rem;
          letter-spacing: none;
          text-transform: uppercase;
          font-weight: bold;
          cursor: pointer; }
          body.dark header .nav .nav-links .nav-item .nav-link {
            color: #f8f8f8; }
          header .nav .nav-links .nav-item .nav-link .boton-carrito {
            margin-top: 5px;
            width: 2.5vw;
            height: 3.5vh;
            background-color: transparent;
            border: none;
            cursor: pointer; }
          header .nav .nav-links .nav-item .nav-link .contador-carrito {
            position: relative;
            bottom: 35px; }
          header .nav .nav-links .nav-item .nav-link .switch {
            background-color: #343d5b;
            border-radius: 1000px;
            border: none;
            position: relative;
            cursor: pointer;
            display: flex;
            outline: none; }
            header .nav .nav-links .nav-item .nav-link .switch::after {
              content: "";
              display: block;
              width: 30px;
              height: 30px;
              position: absolute;
              background: #F1F1F1;
              top: 0;
              left: 0;
              right: unset;
              border-radius: 100px;
              transition: .3s ease all;
              box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
            header .nav .nav-links .nav-item .nav-link .switch.active {
              background: orange;
              color: black; }
              header .nav .nav-links .nav-item .nav-link .switch.active::after {
                left: unset;
                right: 0; }
            header .nav .nav-links .nav-item .nav-link .switch span {
              width: 30px;
              height: 30px;
              line-height: 30px;
              display: block;
              background: none;
              color: #fff; }

/* main */
main {
  min-height: 90vh; }
  main section .nav .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; }
  main .contenedor-carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 65vh; }
    main .contenedor-carrito div {
      margin: 10px; }
      main .contenedor-carrito div .producto-en-carrito {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #2b2461;
        align-items: center; }
        main .contenedor-carrito div .producto-en-carrito .boton-eliminar {
          width: 38px;
          margin: 10px;
          background-color: transparent;
          border: none; }
    main .contenedor-carrito .hidden {
      visibility: hidden;
      display: none !important; }
  main .contenedor-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    min-height: 30vw; }
    main .contenedor-inicio .swiper {
      width: 85vw;
      height: 80vh; }
    main .contenedor-inicio .hidden {
      visibility: hidden;
      display: none !important; }
  main .contenedor-section {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    main .contenedor-section .info-contact {
      background: rgba(19, 19, 19, 0.705);
      color: #f8f8f8;
      padding: 2rem;
      text-align: center;
      grid-column: 3 / 4; }
      main .contenedor-section .info-contact h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem; }
      main .contenedor-section .info-contact ul {
        margin-top: 4rem; }
        main .contenedor-section .info-contact ul li {
          margin-top: 0.5rem;
          display: flex;
          align-items: center; }
          main .contenedor-section .info-contact ul li img {
            background: #f8f8f8;
            width: 2rem;
            height: 2rem;
            border-radius: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            margin-right: 0.5rem; }
    main .contenedor-section .form-contact {
      padding: 0 2rem;
      background: rgba(58, 58, 58, 0.705);
      grid-row: 1;
      grid-column: 1 / 3; }
      main .contenedor-section .form-contact h3 {
        margin: 1.5rem 0 2rem 0;
        font-size: 1.3rem;
        color: #f8f8f8; }
      main .contenedor-section .form-contact form {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr); }
        main .contenedor-section .form-contact form p label {
          font-weight: bold;
          color: #f8f8f8;
          line-height: 1.6; }
        main .contenedor-section .form-contact form p input {
          height: 2.5rem;
          text-indent: 1em;
          border: 0.5px solid #00000067;
          width: 100%; }
        main .contenedor-section .form-contact form p textarea {
          height: 6rem;
          padding: 1em;
          border: 0.5px solid #00000067;
          width: 100%; }
        main .contenedor-section .form-contact form .full {
          grid-column: 1 / 3; }
        main .contenedor-section .form-contact form .form-btn {
          text-align: center; }
          main .contenedor-section .form-contact form .form-btn button {
            padding: 0.75rem 0.75rem;
            margin: 5px;
            margin-bottom: 30px;
            font-size: 1rem;
            min-width: 100px; }
    main .contenedor-section .hidden {
      visibility: hidden;
      display: none !important; }
  main.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    main.main-index h1 {
      margin: 2rem;
      font-size: 4rem;
      transition: 1.5s;
      overflow: hidden; }
    main.main-index h1:hover {
      -webkit-transform: scale(1.3);
      transform: scale(1.4);
      transition: 1.5s; }
    main.main-index h2 {
      margin: 2rem;
      font-size: 2rem;
      transition: 1.5s;
      overflow: hidden; }
    main.main-index h2:hover {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      transition: 0.75s; }
  main.main-contact {
    display: flex;
    flex-direction: column;
    align-items: center; }
  main .hidden {
    visibility: hidden;
    display: none !important; }

.btn-circular, .btn-send, .btn-reset {
  display: inline-block;
  border: 2px solid white;
  padding: 1rem 2rem;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background: #060022;
  transition: color 0.5s, background 0.5s;
  margin: 30px;
  margin-bottom: 15px;
  font-size: 1em;
  min-width: 140px;
  text-align: center;
  border-radius: 30px; }
  .btn-circular:hover, .btn-send:hover, .btn-reset:hover {
    color: white;
    background-color: transparent; }
  .btn-circular:active, .btn-send:active, .btn-reset:active {
    box-shadow: inset 0 0 20px white; }

.btn-send {
  background: #004109; }

.btn-reset {
  background: #410000; }

img {
  width: 100%;
  margin-bottom: 10px; }

h1 {
  color: royalblue;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px; }

#contenedor-productos {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

p {
  line-height: 1.8; }

.producto {
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  background-color: #e9e9e9d2;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.664); }
  body.dark .producto {
    background-color: #747474; }

.precioProducto {
  font-weight: 700; }

.boton-card {
  background-color: #7787b6;
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  margin: 1px;
  border: none;
  border-radius: 20%; }
  body.dark .boton-card {
    background-color: royalblue;
    color: white; }

.boton-card:hover {
  cursor: pointer; }

.boton-card:focus {
  outline: none; }

.filtro {
  display: none; }

.button {
  min-width: 130px;
  height: 40px;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 10px;
  border: none;
  background: #141314;
  box-shadow: 0 5px #141314a1; }
  body.dark .button {
    background-color: royalblue;
    color: white; }
    body.dark .button:hover {
      box-shadow: 0 3px #2c0b8e;
      top: 1px; }
    body.dark .button:active {
      box-shadow: 0 0 #2c0b8e;
      top: 5px; }
  .button:hover {
    box-shadow: 0 3px #272727;
    top: 1px; }
  .button:active {
    box-shadow: 0 0 #3e3e3f;
    top: 5px; }

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden; }
  .modal-contenedor .producto-en-carrito {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2b2461;
    align-items: center; }
  .modal-contenedor .boton-eliminar {
    width: 3vw;
    height: 4vh;
    background-color: transparent;
    border: none; }

.modal-active {
  opacity: 1;
  visibility: visible; }

.modal-pago {
  position: relative;
  color: azure;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid #2b2461;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all 0.5s; }
  .modal-pago .carrito-button {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../assets/logos/logo.ico"); }

.modal-active .modal-pago {
  margin-top: 0; }

.modal-pago .titulo-modal {
  display: flex;
  justify-content: space-between; }
  .modal-pago .titulo-modal h3 {
    color: royalblue;
    padding-bottom: 5px; }
  .modal-pago .titulo-modal button {
    background-color: transparent;
    border: none;
    color: aqua; }

.modal-pago #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: royalblue;
  border: none;
  background-color: transparent; }

.modal-pago #carritoCerrar:hover {
  cursor: pointer; }

.modal-pago #carritoCerrar:focus {
  outline: none; }

.modal-pago .precioProducto {
  padding-top: 10px; }
