* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

@import "./variables";
@import "./mixins";
@import "./body";
@import "./footer";
@import "./header";
@import "./main";
@import "./button";
@import "./product";
@import "./modal";
